.nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
.nav-title {
    color: white;
}
.nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
}
.btn {
    background-color: teal;
    color: white;
}